@font-face {
    font-family: "MPlus MN Type-1 Light";
    src: url('../public/fonts/mplus-1mn-light.ttf');
}

@font-face {
    font-family: "MPlus MN Type-1 Bold";
    src: url('../public/fonts/mplus-1mn-bold.ttf');
}

body {
    font-family: "MPlus MN Type-1 Light", sans-serif !important;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: 0.5rem;
    font-family: "MPlus MN Type-1 Bold", sans-serif !important;
    line-height: 1.2;
}

.ticket {
    width: 95%;
    max-width: 1280px;
    margin: auto;
    position: relative;
    overflow: hidden;
    text-align: center;
    transform: rotate(0);
}

.ticket::before {
    content: "";
    position:absolute;
    width: 200%;
    height: 200%;
    top: -50%;
    left: -50%;
    z-index: -1;
    background: url('../public/spools_logo_small.png') 0 0 repeat;
    transform: rotate(-6deg)
}

.barcode {
    width: 100%;
    height: auto;
    max-height: 75px;
    margin: auto;
    margin-bottom: 25px;
}

.drawButton {
    margin: 5px;
}

.preview {
    display: none;
    width: auto;
    max-height: 400px;
}